body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,
dd,ul,ol,li,pre,form,fieldset,legend,button,input,
textarea,th,td { margin: 0; padding: 0; border: 0;}
html { color: #000; }
html,body { height: 100%; }
body,button,input,select,textarea { font-size: 12px; font-family: 'Microsoft Yahei','微软雅黑', \5FAE\8F6F\96C5\9ED1,'宋体',\5b8b\4f53,arial,'Hiragino Sans GB',Tahoma,Arial,Helvetica; }
ul,ol,li,dl,dd,dt{list-style: none;}
em { font-style: normal; }
a { text-decoration: none; }
legend { color: #000; }
fieldset,img { border: 0; }
label,button { cursor: pointer; }
html{background: #f6f6f6;}
/*解决IE图片缩放失真*/
img { -ms-interpolation-mode: bicubic; }
/*清除浮动*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; }
.clearfix { zoom: 1; }
/*图标*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/font.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.font{
	font-family:'iconfont';
	font-size:18px;
	color:#999999;
}
/*search*/
#search{
	width:100%;
	height: 150px;
	margin: auto;
	background: white;
}
#search .search-one{
	float: left;
	width: 500px;
	height: 35px;
	border: 1px solid red;
	position: relative;
	top: 30px;left: 400px;
}
#search .search-one input{
	outline: none;
	width: 500px;
	height: 35px;
}
#search .search-one div{
	width: 50px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	color: white;
	font-size: 16px;
	background: red;
	position: absolute;top: -1px;left: 500px;
}
#search  .search-two{
	float: right;
	width: 190px;
	height: 35px;
	background: white;
	position: relative;
	top:31px;right: 180px;
	border: 1px solid #d6d4d4;
}
#search  .search-two div{
	color: red;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 6px;
}
#search  .search-two div .font{
	color: red;
	font-size: 18px;
}
#search .yuan{
	float: right;
	position: absolute;
	top: 0px;right: 30px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: red;
	line-height: 16px;
	text-align: center;	
}
.search-three{
	z-index: 100;
	display: none;
	border: 1px solid #d6d4d4;
	position: absolute;
	top: 29px;left: -171px;
	background: white;
	width: 310px;
	height: 70px;
}
.search-three span{
	margin-top: 15px;
	font-size: 10px;
	display: inline-block;
	color: #A1A2A2;
}
.search-three span:nth-child(1){		
	margin-left: 50px;
}
.search-three span:nth-child(2){	
	position: absolute;
	top: 10px;right: 20px;
}
.search-two:hover .search-three{
	display: block;
}
.search-three:after{
	content: '';
	display: block;
	width: 190px;
	height: 10px;
	border-top: 1px solid white;
	position: relative;
	background: white;
	top: -66px;left: 120px;
}
.search-one ul li{
	color: #a1a2a2;
	cursor: pointer;
	float: left;
	margin-left: 10px;
}
.search-one ul li:hover{
	color: #bf0000;
}
.search-one ul{
	margin-top: -10px;
}
#search>img{
	position: relative;
	left: -350px;top: 20px;
}
